# For publishing to Docker Hub
export PKR_VAR_docker_repo_base=huyz/ansible-molecule
export PKR_VAR_docker_username=huyz

# NOTE: secret-from-first is my own script for pulling from a secret manager,
# e.g. HashiCorp Vault
if has secret-from-first; then
    PKR_VAR_docker_password="$(secret-from-first "docker.com/$PKR_VAR_docker_username/password")" || return 1
    export PKR_VAR_docker_password
else
    echo "${BASH_SOURCE[0]}: Warning: secret-from-first not found. Cannot set PKR_VAR_docker_password." >&2
fi

# Turn on more verbose logging
export PACKER_LOG=1
